@import "tailwindcss";

:root {
  --background: #080d27;
  --foreground: #FFFFFF;

  --dark-primary: #080d27;
  --dark-secondary: #0d153b;
  --gold-solid: #DDBD81;
  --gold-hover: #C5A267;
  --gold-dark: #AC8336;
  --violet-footer: #030616;
  --text-white: #FFFFFF;
  --text-gray-light: #E4E4E7;
  --text-gray-muted: #8E90A2;
  --border-color: #3F404D;
  --border-muted: rgba(255, 255, 255, 0.1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta);
  --font-mono: var(--font-geist-mono);

  --color-dark-primary: var(--dark-primary);
  --color-dark-secondary: var(--dark-secondary);
  --color-gold-solid: var(--gold-solid);
  --color-gold-hover: var(--gold-hover);
  --color-gold-dark: var(--gold-dark);
  --color-violet-footer: var(--violet-footer);
  --color-text-white: var(--text-white);
  --color-text-gray-light: var(--text-gray-light);
  --color-text-gray-muted: var(--text-gray-muted);
  --color-border-color: var(--border-color);
  --color-border-muted: var(--border-muted);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta), sans-serif;
  font-size: 15px; /* Adjust this value (e.g. 14px, 15px, 16px) as needed */
  line-height: 1.6;
}

